<%= form_for @micropost do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.text_area :content %>
    <%= f.label :content, "Csdkfjhsdfkj", :class => "title_label", :id => "micropost_content_label"%>
  </div>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>